* {
  margin: 0;
  padding: 0;
}
body {
  background: rgb(178, 223, 226);
}
.container {
  text-align: center;
  margin-top: 4rem;
}
.container h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
  font-family: "Viaoda Libre", cursive;
  color: rgb(59, 66, 64);
}
table {
  margin: auto;
}
input {
  margin-top: 0.3rem;
  margin-bottom: 1rem;
  font-size: 1.8rem;
  width: 98%;
  height: 3.4rem;
  border-radius: 1rem;
  border: none;
  background-color: rgb(245, 245, 248);

  /* border-radius: 20px; */
}
.input {
  outline: none;
}
button {
  width: 5rem;
  height: 4.2rem;
  border-radius: 20%;
  margin: 0.3rem;
  font-size: 1.4rem;
  border: none;
  background-color: rgb(229, 235, 235);
  color: rgb(8, 8, 7);
}
button:hover {
  background-color: rgb(96, 167, 177);
  color: bisque;
  border: none;
}
.calculator {
  display: inline-block;
  /* margin-left: 1rem;
  margin-right: 2rem; */
  /* height: 90%; */
  background-color: rgb(158, 190, 190);
  box-shadow: 0px 0px 27px #0a7c76;
  border-radius: 1rem;
}
.clear {
  background-color: rgb(184, 25, 59);
}
.equal {
  width: 80%;
  background-color: rgb(123, 165, 175);
}
